<h1>Welcome</h1>
<div class="grid">
    <p>Please click to log in or to create a new account...</p>

    <form action="/login" method="GET">
        <input id="button" type="submit" value="Log In">
    </form>
</div>